.steps {
  border-bottom: 1px solid #d9d9d9;
  min-height: 71px;
  padding-left: 20px;
  padding-top: 10px;
}

.steps .steps-title .btn-link {
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;
}

.steps .steps-title .steps-title-number {
  width: 50px;
  float: left;
}

.steps .steps-title .steps-title-text {
  float: left;
}

.steps .steps-content {
  margin-left: 50px;
  clear: both;
  padding: 10px 0 10px 0;
}

.steps .steps-footer {
  padding: 10px 0;
  margin-left: -20px;
  background-color: #f2f2f2;
}

.steps .steps-footer button {
  margin-left: 70px;
}

.text-secondary {
  color: #666666;
}
