<div class="steps">
  <div class="steps-title">
    <div class="steps-title-number">
      <h5 [ngClass]="{'text-secondary': !isActive}">{{getIndex() + 1}}.</h5></div>
    <div class="steps-title-text">
      <h5 [ngClass]="{'text-secondary': !isActive}">{{title}}
        <span [hidden]="isActive || !isDirty" class="btn-link" (click)="edit()">Edit</span></h5></div>
  </div>

  <div class="steps-content" [hidden]="isActive || !isDirty">
    <ng-content select=".preview"></ng-content>
  </div>

  <div [@tabAnimation]='isActive' [hidden]="!isActive">
    <div class="steps-content">
      <ng-content></ng-content>
    </div>

    <div class="steps-footer">
      <button class="btn btn-primary" (click)="next()" [hidden]="isLastElement">{{nextButtonText || 'Continue'}}
      </button>
      <button class="btn btn-primary" (click)="finish()" [hidden]="!isLastElement">{{finishButtonText}}</button>
    </div>
  </div>
</div>
