<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <app-wizard class="col-md-12">

      <app-wizard-step [title]="'Select Data'">
        <p>first element</p>
        <div class="preview">my preview class select data</div>
      </app-wizard-step>

      <app-wizard-step [title]="'Select Parameter'">
        <p>second element</p>
        <div class="preview">my preview class select data</div>
      </app-wizard-step>

    </app-wizard>
  </div>
</div>

