<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <bc-wizard class="col-md-12" style="margin-top: 20px;" [finishButtonText]="'Buy'">

      <bc-wizard-step [title]="'Login'">
        <p>first element</p>
        <div class="preview">my preview class select data</div>
      </bc-wizard-step>

      <bc-wizard-step [title]="'Choose'">
        <p>second element</p>
        <div class="preview">my preview class select data</div>
      </bc-wizard-step>

      <bc-wizard-step [title]="'Checkout'">
        <p>Payment options</p>
      </bc-wizard-step>

    </bc-wizard>
  </div>
</div>

